body {
  min-width: 360px !important;
  overflow: auto;
}

/* Index */
main {
  display: flex;
  min-height: calc(100vh - 200px); /* 160 = Nav + Footer height */
  flex-direction: column;
  justify-content: center;
}

main section {
  width: 90%;
  margin: 25px auto;
}
